body {
    background-color: rgb(249, 248, 246);
}

header,ul,li {
    display: inline;
}

ul,li {
    width: 80px;
    border-color: rgb(255, 255, 255);
    border-style:hidden ;
    border-width: 30px;
    padding: 30px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(88, 83, 81);
}

nav ul li a:hover {
    color: hsl(44, 85%, 71%);
}

h1 {
    text-align: center;
    color: #4c4b4b;
}